body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
}

p {
    font-size: 14px;
}

h1 {
    font-size: 30px;
}

.attribution {
    font-size: 11px; text-align: center;
 }
.attribution a {
    color: hsl(228, 45%, 44%); 
}

#contain-perfume-box {
    display: flex;
    flex: row;
    width: 500px;
    background-color: hsl(0, 0%, 100%);
}

#contain-text {
    margin-right: 30px;
}

#text-main-styling {
    font-size: 16px;
}

#image-perfume {
    width: 250px;
    min-height: 350px;
    margin-right: 25px;
}

#title-text-styling {

}

.mon-class {
    font-family: "Montserrat", sans-serif;
    word-wrap: break-word;
}

.frau-class {
    font-family: "Fraunces", serif;
    word-wrap: break-word;
}


/* fonts

.fraunces-<uniquifier> {
  font-family: "Fraunces", serif;
}

fonts */
/*

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
}
*/